* {
  font-family: Lato;
  margin: 0;
  padding: 0;
  color: black;
}

.isLoading {
  padding-top: 30vh;
  text-align: center;
  padding-bottom: 50vh;
  opacity: 0.7;
}
.back-arrow {
  display: flex;
  border-radius: 200rem;
  padding: 0.1rem;
  transition: 0.1s;
  width: fit-content;
}
.back-arrow:hover {
  background-color: #2b2a4c50;
  cursor: pointer;
}

.header-container {
  position: fixed;
  background-color: #f2f4f6;
  display: flex;
  width: 100vw;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #2b2a4c;
  min-width: 300px;
  z-index: 100;
}
.header-logo {
  color: #b31312;
}
.header-logo:hover {
  opacity: 0.7;
}
.header-logo:active {
  opacity: 0.6;
}

.sub-header {
  font-size: 20px;
  font-style: italic;
  color: #b31312;
}

.header-img {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 100rem;
}
.header-img:hover{
  opacity: 0.6;
}

/* ------------main-container-------------- */
.main-body {
  padding: 5rem 0 2rem 0;
  background-color: #efe7e5;
  display: flex;
  justify-content: center;
  min-height: 85vh;
}

.content-container {
  margin: 1rem;
  padding: 0 0.5rem;
  border: 2px #2b2a4c solid;
  border-radius: 1rem;
  background-color: #f2f4f6;
  min-height: 10rem;
  min-width: 300px;
  max-width: 1200px;
  width: 90%;
}
.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.content-header {
  color: #b31312;
}
.button {
  background-color: #343186;
  color: white;
  border: none;
  padding: 0.4rem;
  width: 5rem;
  font-size: 0.8rem;
  border-radius: 100rem;
}
.button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.button:active {
  opacity: 0.6;
}

.content-bottom {
  display: flex;
  flex-direction: column;
}

.primary-article {
  position: relative;
  text-align: center;
  margin-bottom: 0.4rem;
  max-width: 30rem;
  align-self: center;
}

.primary-article-image {
  width: 100%;
}
.primary-bottom-left {
  position: absolute;
  bottom: 0.5rem;
  background-color: #f2f4f6de;
  padding: 0.2rem 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-title {
  font-size: 1.4rem;
}

.primary-author {
  opacity: 0.6;
  padding-left: 0.5rem;
  font-size: 0.8rem;
}
.primary-date {
  position: absolute;
  top: 0.5rem;
  right: 0;
  background-color: #f2f4f6de;
  padding: 0.2rem 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.secondary-article {
  background-color: #f2f4f6;
  margin-bottom: 0.6rem;
  display: flex;
  transition: 0.15s;
  border-radius: 0.3rem;
}
.secondary-article:hover {
  background-color: #cfd1d2;
  cursor: pointer;
}

.secondary-left-side {
  display: flex;
  align-items: center;
}
.secondary-right-side {
  padding: 0.3rem;
  width: 100%;
  overflow: hidden;
}
.secondary-title {
  font-size: 1rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.secondary-date,
.secondary-author {
  font-size: 0.9rem;
}
.secondary-article-image {
  width: 8rem;
}

/* -------------articles page ------------- */

.articles-content-header {
  text-align: center;
  flex-grow: 1;
}

/* -------------article pare ------------ */
.article-page-image {
  max-width: 700px;
}

.article-page-title {
  font-size: 1.9rem;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}

.article-page-author {
  font-size: 1.1rem;
  margin-left: 0.4rem;
  margin-bottom: 0.1rem;
}
.article-page-date {
  opacity: 0.6;
}

.article-page-topic {
  font-size: 1.1rem;
  margin-left: 0.4rem;
  margin-bottom: 1rem;
  opacity: 0.6;
  font-style: italic;
}
.article-page-body {
  padding: 0.5rem;
}

.comments-title {
  margin-left: 0.4rem;
  margin-bottom: 0.5rem;
  display: flex;
}

hr {
  margin: 0.5rem;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-container {
  background-color: #efe7e5;
  width: 95%;
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.add-comment-container-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-comment-container-bottom{
  text-align: end;
  margin-top: 0.1rem;
  opacity: 0.6;
}
.comment-form{
  flex-grow:1;
  display: flex ;

}
.comment-input{
  width: 15rem;
  height: 2rem;
  background: none;
  border: none;
  border-bottom: 1px solid #b8bbbc;
  margin-left: 1rem;
  font-size: 1rem
}
.comment-input:focus{
  outline:none;
}
.send-comment-button{
  display: flex;
  align-items: center;
  border-radius: 200rem;
  padding: 0.1rem;
  transition: 0.1s;
  width: fit-content;
  border:none;
  background: none;
}
.send-comment-button:hover{
  background-color: #2b2a4c50;
  cursor:pointer;
}

.send-comment-arrow{
  transform: rotate(180deg);
}

.comment-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.comment-profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  background-color: white;
}

.comment-profile-image:hover{
  opacity: 0.6
}
.add-comment-profile-image:hover{
  opacity:1;
}

.comment-author {
  font-weight: 700;
  margin-left: 0.5rem;
}
.comment-date {
  flex: 2;
  text-align: right;
  opacity: 0.5;
}

.comments-drop-down {
  border-radius: 10rem;
  margin-left: 0.3rem;
  transition: 0.15s;
}
.comments-drop-down:hover {
  background-color: #cfd1d2;
  cursor: pointer;
}

.hide-comments {
  transform: rotate(180deg);
}
.show-comments {
  transform: rotate(270deg);
}
.no-comments-message{
  margin-left: 0.7rem;
  font-weight: 400;
  font-size: 1rem;
  align-self: end;
  opacity: 0.6;
}
.comment-votes-section,
.article-votes-section {
  display: flex;
  align-items: center;
}
.vote-button {
  background-color: #f2f4f6;
  width: 3rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 100rem;
  transition: 0.15s;
}
.comment-vote-button {
  margin: 0.8rem 0 0.3rem 0.5rem;
}
.vote-button:hover {
  cursor: pointer;
}
.true-vote-button {
  background-color: rgba(67, 238, 98, 0.623);
}

.comment-votes {
  margin-left: 0.5rem;
}
.article-votes {
  margin-right: 0.5rem;
}
.profile-content-container{
  display: flex;
  flex-direction: column;
}
.profile-content-header {
  font-style: italic;
  font-size: 2rem;
  padding: 0 1.5rem 1.5rem 1.5rem;;
}
.profile-sub-header{
  margin-left:1.7rem;
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: 700
}
.profile-image{
  align-self: center;
  border-radius: 100rem;
  width: 11rem;
  height: 11rem;
  margin-bottom: 1.5rem;
}
